---
import ExperimentLayout from '../../layouts/ExperimentLayout.astro';
---
<ExperimentLayout title="Food Profiler">
  <p style="font-family: 'IBM Plex Serif', Georgia, serif; opacity: 0.4;">Coming soon.</p>
</ExperimentLayout>
